// @BeeOverwrite YES
// @BeeGenerateTime {{generateTime}}
import React from 'react';
import { CreateForm } from 'sula';
import {Card} from 'antd';
import FormConfig from "./formconfig"
const apiUrl = "{{apiPrefix}}/{{modelName}}";

export default class Base extends React.Component {
  render() {
    const submit =  {
      "url": apiUrl,
      "method": "post"
    };

    return (
        <Card>
            <CreateForm
              {...FormConfig.config}
              submit = { submit }
              mode = "create"
            />
        </Card>
    );
  }
}
