// @BeeOverwrite YES
// @BeeGenerateTime {{generateTime}}
export default {
  config : {
    "container": {
    "type": "div",
      "props": {
      "style": {
        "background": "#fff",
          "padding": "24px",
          "borderRadius": 2,
          "margin": "0 auto 72px",
          "maxWidth": 1000
      }
    }
  },
    "itemLayout": {
    "labelCol": {
      "span": 6
    },
    "wrapperCol": {
      "span": 8
    }
  },
    "fields": [
    {% for value in modelSchemas %}
    {% if value.Orm != "-" %}
    {
      "name": "{{value.Name|camelString|lowerFirst}}",
      "label": "{{value.Comment}}",
      "field": {
        {% if value.Type == "text" %}
             type: 'textarea',
        {% else %}
            "type": "input",
        {% endif %}
        "props": {
            "placeholder": "请输入{{value.Comment}}"
        }
      }
    },
    {% endif %}
    {% endfor %}
  ],
    "actionsPosition": "default",
  }
}
