// @BeeOverwrite YES
// @BeeGenerateTime {{generateTime}}
import React, {Fragment} from 'react';
import {Card, Row, Col, Statistic, message, Timeline, Tag, Button, Divider, Modal} from 'antd';
import { QueryTable } from 'sula';
import { history } from 'umi';
import request from "@/utils/request";

const apiUrl = "{{apiPrefix}}/{{modelName}}";
const pageCreate = "/{{modelName}}/create"
const pageUpdate = "/{{modelName}}/update"
const pageInfo = "/{{modelName}}/info"

const config = {
  "layout": "vertical",
  "rowKey": "{{modelPrimaryKey|lowerFirst}}",
  "remoteDataSource": {
    "url": apiUrl,
    "method": "get"
  },
    "actionsRender": [
      {
        "type": "button",
        "props": {
          "children": "新增",
          "type": "primary"
        },
        "action": {
          "type": "route",
          "path": pageCreate
        }
      },
    ],
}


export default class List extends React.Component  {
  render() {
    const columns = [
        {% for value in modelSchemas %}
        {% if  value.IsOrm != "-" %}
        {
          title: "{{value.Comment}}",
          key: "{{value.Name|camelString|lowerFirst}}",
        },
        {% endif %}
        {% endfor %}
        {
            key:"operator",
            title: "操作",
            render: (ctx) => (
                <Fragment>
                  <a
                      onClick={() => {
                        history.push({
                          pathname: pageInfo,
                          search: `?{{modelPrimaryKey|lowerFirst}}=${ctx.record.{{modelPrimaryKey|lowerFirst}} }`,
                        });
                      }}
                    >
                      详情
                    </a>
                    <Divider type="vertical" />
                  <a
                    onClick={() => {
                      history.push({
                        pathname: pageUpdate,
                        search: `?{{modelPrimaryKey|lowerFirst}}=${ctx.record.{{modelPrimaryKey|lowerFirst}} }`,
                      });
                    }}
                  >
                    编辑
                  </a>
                  <Divider type="vertical" />
                  <a
                    onClick={() => {
                      Modal.confirm({
                        title: '确认删除？',
                        okText: '确认',
                        cancelText: '取消',
                        onOk: () => {
                          request(apiUrl+"/"+ctx.record.{{modelPrimaryKey|lowerFirst}}, {
                            method: 'DELETE',
                          }).then((res) => {
                            if (res.code !== 0) {
                              message.error(res.msg);
                              return false;
                            }
                            ctx.table.refreshTable()
                            return true;
                          });
                        },
                      });
                    }}
                  >
                    删除
                  </a>
                </Fragment>
              )
          }
    ];

    return (
        <Card>
          <QueryTable
            {...config}
            columns={columns}
          />
        </Card>
    );
  }
}
