-- @BeeOverwrite YES
-- @BeeGenerateTime {{generateTime}}
CREATE TABLE {{modelName|snakeString}}(
     {% for value in modelSchemas %}
     `{{value.Name|snakeString}}` {{value.MysqlType}},{% endfor %}
     {% for value in modelSchemas %}{% if value.ColumnKey == "PRI" %}PRIMARY KEY (`{{value.Name|snakeString}}`){% endif %}{% endfor %}
)
