-- @BeeOverwrite YES
-- @BeeGenerateTime {{generateTime}}
CREATE TABLE {{modelName|snakeString}}(
     {% for value in modelSchemas %}
     {% if value.OrmTag != "-" %}`{{value.Name|snakeString}}` {{value.MysqlType}},{% endif %}{% endfor %}
     {% for value in modelSchemas %}{% if value.ColumnKey == "PRI" %}PRIMARY KEY (`{{value.Name|snakeString}}`){% endif %}{% endfor %}
)
